/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}





*
{
	margin: 0;
	padding: 0;/*
	box-sizing: border-box;
	font-family: 'inter'; 
    scroll-behavior: smooth;*/
}
body
{
	overflow-x: hidden;
    background: black;
}
.roll.nop
{
	overflow: hidden;
}
.roll.nop
{
	overflow: hidden;
}
.header
{
    position: fixed;
    top: 0;
	left: 0;
	right: 0;
	display: flex;
    z-index: 2;
	backdrop-filter: blur(5px);
    transition: 1s;
    justify-content: space-between;
    padding-right: 10%;
	padding-left: 10%;
	align-items: center;
}
.header.acender
{
    background: white;
    color: #050801;
    box-shadow: 0 0 15px black;
}
.header a
{
    font-size: 16px;
}
.header.acender  .menu-btn__lines,
.header.acender  .menu-btn__lines::before,
.header.acender  .menu-btn__lines::after 
{
    background-color: black;
    box-shadow: 1px 1px 0.1em black;
}
.header a 
{
    text-decoration: none;
    color: #2196f3;
/*	font-size: 2rem; */
	font-family: 'Anonymous Pro', monospace;
	font-weight: lighter;
	
}
.header ul li
{
    letter-spacing: 0.4em;
    
}
.logo
{
    font-weight: bolder;
	text-shadow: 0.1px 0.1px 0.02em black
    
}

.menu-btn
{
    position: relative;
    display: flex;
    justify-content: center;
	align-items: center;
	width: 1.5rem;
	height: 1.5rem;
	cursor: pointer;
	z-index: 1;
	
}
.menu-btn__lines,
.menu-btn__lines::before,
.menu-btn__lines::after {
	width: 1.5rem;
	height: 0.2rem;
	border-radius: 2rem;
	background-color: rgba(255, 255, 255, 0.9); 
	transition: all 0.5s ease-in-out;
}
.menu-btn__lines::before,
.menu-btn__lines::after {
	content: "";
	position: absolute;
}
.menu-btn__lines::before {
	transform: translateY(-0.5rem);
}
.menu-btn__lines::after {
	transform: translateY(0.5rem);
}
  /* animation */
.menu-btn.open .menu-btn__lines {
	transform: translateX(2rem);
	background-color: transparent;
	box-shadow: none;
/*	color: black; */
}
.menu-btn.open .menu-btn__lines::before {
	transform: rotate(45deg) translate(-1.5rem, 1.5rem);
/*	background-color: black;*/

}
.menu-btn.open .menu-btn__lines::after {
	transform: rotate(-45deg) translate(-1.5rem, -1.5rem);
/*	background-color: black;*/
}

.menu-btn.open
.menu-btn__lines::before,
.menu-btn.open
.menu-btn__lines::after 
{
	background-color: black;
}
.menu-items
{
    flex-direction: column;
	justify-content: space-evenly;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	height: 100vh;
	transform: translateX(100vw);
	background-color: #fff;
	transition: transform 0.3s ease-in-out;
	color:white;
	list-style: none;
	display: flex;
	align-items: center;
    padding: 0.5em 1em;
}
.menu-items.open li a
{
	color: black;
}
.menu-items.open 
{
	transform: translateX(0);
	
}
.menu-items li 
{
    margin: 0px 10px 0px 10px;
	width: 100vw;
	height: 100%;
}
.menu-items li a 
{
	color: black;
	font-size: 16px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}
.menu-items li a:hover {
	color: #2196f3;
}
/*BOTÃO CONFIGURAÇÃO */

button {
	
	font-size: 36px;
	padding: 20px;
	background: #222;
	border: none;
	border-radius: 10px;
	cursor: pointer;
	position: relative;
	overflow: hidden;
	width: 350px;
	margin-bottom: 10vh;
  }
  
  button span:nth-child(1) {
	display: block;
	position: absolute;
	background: linear-gradient(90deg, transparent 25%, rgba(255,255,255,.5), transparent 75%);
	width: 100%;
	height: 100%;
	top: 0;
	left: -75%;
  }
  
  button span:nth-child(2) {
	display: block;
	position: absolute;
	background: linear-gradient(90deg, transparent 25%, rgba(255,255,255,.5), transparent 75%);
	width: 100%;
	height: 100%;
	top: 0;
	right: -75%;
  }
  
  button:hover {
	transition-duration: .5s;
	transition-delay: .25s;
	color: #fff;
	background: #444;
	box-shadow: 0 0 10px 10px #ffffff50,
				0 0 15px 10px #ffffff50,
				0 0 20px 10px #ffffff50;
  }
  
  button:hover span:nth-child(1) {
	transition: .75s;
	left: 125%;
  }
  
  button:hover span:nth-child(2) {
	transition: .75s;
	right: 125%;
  }
  
  button:hover:focus span:nth-child(1) {
	transition: .75s;
	left: -75%;
  }
  
  button:hover:focus span:nth-child(2) {
	transition: .75s;
	right: -75%;
  }
  
  button:nth-child(1):hover:focus {
	box-shadow: 0 0 10px 10px rgba(255,0,0,.75),
				0 0 15px 10px rgba(255,0,0,.5),
				0 0 20px 10px rgba(255,0,0,.25);
	background: darkred;
	text-shadow: 0 0 5px #fff,
				 0 0 10px #fff;
  }
  
  button:nth-child(2):hover:focus {
	box-shadow: 0 0 10px 10px rgba(0,255,0,.75),
				0 0 15px 10px rgba(0,255,0,.5),
				0 0 20px 10px rgba(0,255,0,.25);
	background: darkgreen;
	text-shadow: 0 0 5px #fff,
				 0 0 10px #fff;
  }
  
  button:nth-child(3):hover:focus {
	box-shadow: 0 0 10px 10px rgba(0,0,255,.75),
				0 0 15px 10px rgba(0,0,255,.5),
				0 0 20px 10px rgba(0,0,255,.25);
	background: darkblue;
	text-shadow: 0 0 5px #fff,
				 0 0 10px #fff;
  }

  /*TERMINA CONFIGURAÇÃO DO BOTÃO*/

section
{
	padding-left: 10vw;
	padding-right: 10vw;
	height: 100vh;
	min-height: 400px;
}
.banner
{
	position: relative;
	min-height: 100vh;
	background: url(imagens/banner3.jpg);
	background-size: cover;
	background-position: right;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;	
	align-items: center;		
	
}
.bgbanner
{
	height: 50vh;
	justify-content: space-evenly;
    display: flex;
    flex-direction: column;
}
.chamada
{
	text-align: center;
}
.banner h2
{
    font-size: 2.5vw;
	color: #3296f3;
}


.fancy
{
	visibility: hidden;
    color: #fff;
    text-shadow: 0 0 10px #fff,
                    0 0 20px #fff,
                    0 0 40px #fff,
                    0 0 80px #fff,
                    0 0 120px #fff,
                    0 0 160px #fff;
    font-size: 5.9vw;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: left;
	-webkit-box-reflect: below 0.5px linear-gradient(transparent,#0005);
	
	
}
.fancy span 
{
	visibility: visible;
    opacity: 0;
    transition: all 10s ease;
    display: flex; 
}

.fancy span.fade {
    opacity: 10;
    transform: translateY(0px);
	visibility: visible;
	-webkit-transition: 0.5s ease-in-out;
	transition: 1s cubic-bezier(.19,1,.19,3.51);
	
}
.btn
{
	margin-top: 10px;
	padding: 10px 20px;
	font-size: 2.5vh;
}
.about
{
	background:white;
	justify-content: space-around;
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 700px;
}
.list
{
	display: flex;
	flex-direction: row;
	width: 80vw;
	justify-content: space-around;
	
	position: relative;
	
	
}
.list ul li
{
	margin-top: 2vh;
}
.far fa-check-circle
{
	color: green
}
.heading
{
	width: 100%;
	text-align: center;
/*	margin-bottom: 30px; */
	color: #111;
	margin-top: 10vh;
}
.heading h2
{
	font-size: 4.6vw;
/*	padding-top: 10vh; TIREI PORQUE ARRUMEI COLOCANDO UM JUSTIFY NA CLASSE DA SECTION QUE EU QUERIA*/ 
}
.heading p
{
	font-size: 2.5vw;
}
.headingW p
{
	font-size: 2.5vw;
}
.contentBx h3 
{
    font-size: 2.5vw;
 /*   margin-bottom: 5vh; TIREI PORQUE ARRUMEI COLOCANDO UM JUSTIFY NA CLASSE DA SECTION QUE EU QUERIA*/
}
.content
{
    flex-direction: column;
}
.w50
{
	font-size: 3vw;
	min-width: 20px;
}

.services .content .servicesB
{
	margin:10px;
}
.work
{
	background-color: black;
}
.work .content .workBx {
	width: 100%;
	padding: 10px;
}
.headingW
{
	width: 100%;
	text-align: center;
	margin-bottom: 30px;
	color: white;
}
.headingW h2
{
	font-weight: 600;
	font-size: 2rem;
}
.testimonial
{
	background: #f7f7f7;
	justify-content: space-evenly;
	display: flex;
	flex-direction: column;
}
.testimonial .heading
{
	margin-bottom: 0px;
}
.testimonial .content
{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	
}
.testimonial .content .testimonialBx 
{
	max-width: calc(100% - 20px);
	padding: 20px 20px;
	margin: 10px;
	background: #3296f3;
	height: 31vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.testimonial .content .testimonialBx p
{
    color: #fff;
	font-style: italic;
	font-size: 1rem;
}
.testimonial .content .testimonialBx h3
{
	margin-top: 20px;
	font-size: 0.8rem;
    text-align: end;
	color: #fff;
	font-weight: 600;
	line-height: 1em;
}
.testimonial .content .testimonialBx h3 span
{
	font-size: 14px;
	font-weight: 400;
}
.heading.white
{
	color:white;
}
.contact
{
	background: #111;
	padding-bottom: 39px;
}
.formBx
{
	min-width:60%;
	margin-bottom: 30px;
}
.formBx form
{
	display:flex;
	flex-direction: column;
}
.formBx form h3,
.contactInfo h3
{
	color: #fff;
	font-size: 14px;
	font-weight: 500;
	margin-bottom: 10px;
}
.formBx form input,
.formBx form textarea
{
	margin-bottom: 20px;
	padding: 15px;
	font-size: 16px;
	background: transparent;
	border: none;
	outline: none;
	background: #222;
	color: #fff;
	resize: none;
	
}
.formBx form textarea
{
	min-height: 200px;
}
.formBx form input::placeholder,
.formBx form textarea::placeholder
{
	color: #999;
}
.formBx form input[type="submit"]
{
	max-width: 100px;
	background: #2196f3;
	cursor: pointer;
	text-transform: uppercase;
	letter-spacing: 2px;
	
}
.formBx .reflect
{
	transition: 0.5s;
	Letter-spacing: 4px;
    -webkit-box-reflect: below 1px linear-gradient(transparent,#0004);
}
.formBx .reflect:hover
{
	background: #2196f3;
    color: #050801;
    box-shadow: 0 0 5px #2196f3,
                0 0 25px #2196f3,
                0 0 50px #2196f3,
                0 0 200px #2196f3;
}
.thankyou_message
{
	color: green;
}
.contentcontato
{
	display: flex;
	justify-content: space-between;
	flex-direction: column;

}
.contactInfoBx
{	
	display:flex;
	flex-direction: row;
	justify-content: space-between;
	
}

.content .flutuante
{
	
	float: right;
	width: 50%;
	margin-left: 0;
	margin-top: 0px;
	margin-bottom: 0px;
	padding: 0;
	top: -92px;
	position: relative;
}
.contactInfoBx
{	
	display:flex;
	flex-direction: row;
	/*margin: 20px 0;*/
	justify-content: space-between;
	font-size:1.3rem;
	
}
.contactInfoBx .box .icon
{
	min-width: 40px;
	padding-top: 4px;
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: flex-start;
/*	font-size: 24px; */
}
.contactInfoBx .box .text
{
	display: relative;
	margin-Left: 0px;
/*	font-size: 2.5vh; */
	color: #fff;
	flex-direction: column;
	font-weight: 300;
	
}
.contactInfoBx .box .text p
{
	
	
	margin-bottom: 0;
	text-align: center;
	font-size: 16px; 
}
.contactInfoBx .box .text h3
{
	font-weight: 500;
	color: #2196f3;
	margin-bottom: 0;
	text-align: center;
/*	font-size: 3.7vh; */
}
.copyright
{
	background: #000;
	color: #fff;
	text-align: center;
	padding: 10px;
	color:#626262;
	font-size: 12px;
}
.copyright a
{
	text-decoration: none;
	color: #626262;
}
@media (min-width: 991px)
{
	.header
	{
		justify-content: space-around;
		padding: 0.5rem 2rem;
		align-items: center;
	}
	.header a
	{
		color: white;
	}
	.menu-btn
	{
		display: none;
	}
	.menu-items
	{
		transform: translateX(0vw);
		flex-direction: row;
		height: auto;
		display: flex;
		margin-right: auto;
		transform: translateY(0px);
		background: none;
		margin-left: 30%;
		margin-right: 10%;
		height: auto;
		
	}
	.menu-items li a
	{
		color: white;
		font-size: 1.5vw;
		
	}
	header.acender .menu-items li a:hover
	{
		text-decoration: underline;
		
	}
	menu-items.open
	{
		transform: none;
	}
	.header
	{
	justify-content: flex-start;
	}
	.header a
	{
		font-size: 1.5vw;
	}
	.header.acender .menu-items li a
	{
		color: black;
		padding-bottom: 30px;
		text-shadow: 0.1px 0.1px 0.02em black
	}
	.header.acender .logo
	{
		color: #3296f3;
		font-size: 1.5vw;
		
	}
	.logo
	{
		margin-left: 100px;
		font-size: 1.5vw;
	}
	.about h3
	{
		font-size: 30px;
	}
	.list
	{
		font-size: 24px;
	}
	.testimonial .content
	{
		flex-wrap: nowrap;
		flex-direction: row;
	}
	.testimonial .content .testimonialBx 
	{
		max-width: calc(50% - 20px);
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		width: 34vw;
	}
}
@media (max-width: 600px)
{
	.contactInfoBx
	{
		flex-direction: column;

	}
	.list
	{
		flex-direction: column;
	}
}